USE [master]
GO
/****** Object:  Database [SanayiBazarimDB]    Script Date: 7.09.2021 20:27:23 ******/
CREATE DATABASE [SanayiBazarimDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SanayiBazarimDB', FILENAME = N'C:\Users\higst\SanayiBazarimDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SanayiBazarimDB_log', FILENAME = N'C:\Users\higst\SanayiBazarimDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SanayiBazarimDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SanayiBazarimDB]
GO
USE [SanayiBazarimDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7.09.2021 20:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 7.09.2021 20:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAdi] [nvarchar](max) NULL,
	[sifre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.admins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tekliflers]    Script Date: 7.09.2021 20:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tekliflers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[offerCreateTime] [datetime] NOT NULL,
	[offerHead] [nvarchar](max) NULL,
	[offerValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tekliflers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ürünkategorisi]    Script Date: 7.09.2021 20:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ürünkategorisi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[category] [varchar](255) NULL,
 CONSTRAINT [PK_dbo.ürünkategorisi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ürünler]    Script Date: 7.09.2021 20:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ürünler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryId] [int] NULL,
	[productName] [varchar](255) NULL,
	[offerCreateTime] [datetime] NULL,
	[offerFinishedTime] [datetime] NULL,
	[productImage] [varchar](255) NULL,
	[productDescription] [text] NULL,
	[productSubDescription] [text] NULL,
 CONSTRAINT [PK_ürünler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[admins] ON 

INSERT [dbo].[admins] ([id], [kullaniciAdi], [sifre]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[admins] OFF
GO
SET IDENTITY_INSERT [dbo].[tekliflers] ON 

INSERT [dbo].[tekliflers] ([Id], [productId], [offerCreateTime], [offerHead], [offerValue]) VALUES (1, 1, CAST(N'2021-08-06T00:00:00.000' AS DateTime), N'aciklama', N'100')
SET IDENTITY_INSERT [dbo].[tekliflers] OFF
GO
SET IDENTITY_INSERT [dbo].[ürünkategorisi] ON 

INSERT [dbo].[ürünkategorisi] ([Id], [category]) VALUES (1, N'DEMIR ÇELIK')
INSERT [dbo].[ürünkategorisi] ([Id], [category]) VALUES (2, N'ELEKTRONIK MALZEMELERI')
INSERT [dbo].[ürünkategorisi] ([Id], [category]) VALUES (3, N'ELEKTRIK MOTORLARI')
SET IDENTITY_INSERT [dbo].[ürünkategorisi] OFF
GO
SET IDENTITY_INSERT [dbo].[ürünler] ON 

SET IDENTITY_INSERT [dbo].[ürünler] OFF
GO
USE [master]
GO
